.CardCreate {

  $image-height: 256px;
  $card-background-color: none;

  .card {
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    input, label {
      display: block;
    }

    input {
      border: 1.5px solid #ECECEC;
      border-radius: 8px;
      padding: 10px;
    }

    label {
      font-size: 0.9rem;
      font-weight: bold;
    }

    #title {
      float: left;
      border: none;
      padding: 20px;
      width: 100%;
      background-color: #ECECEC;
    }

    #top-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      #image-area {
        margin: 0 auto;
        min-width: $image-height;

        canvas {
          width: $image-height;
          height: $image-height;
          background-color: #DEDEDE;
        }

      }

      #desc-area {
        flex-grow: 1;
        position: relative;
        padding: 15px 15px 0 15px;

        textarea {
          position: relative;
          width: 100%;
          height: $image-height;
          resize: none;
          border: none;
        }

        #description {
          border: 1.5px solid #ECECEC;
          line-height: 1.5em;
          border-radius: 8px;
        //  resize: none;
        }
      }

    }  

    #bottom-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px;

      #label-area {
        font-size: 0.9rem;
        display: inline-block;

        #deadline {
          margin-top: 12px;
        }

        #deadline-input::-webkit-inner-spin-button {
          display: none;
        }
      }

      #tag-area {
        flex: 0 0 40%;

        #tag-input {
          width: 100%;
        }

        #tag-box {
          width: 100%;
          margin-top: 8px;
          display: inline-flex;
          flex-wrap: wrap;
          flex-direction: row;
        }

        .tags {
          display: inline;
          font-weight: bold;
          color: white;
          font-size: 12.5px;
          background-color: #275AD7;
          border: 2px solid white;
          border-radius: 8px;
          padding: 6px 8px 6px 8px;
        }

        .tags:hover {
          background-color: white;
          opacity: 0.5;
          border: 2px solid #275AD7;
          color: #275AD7;
          cursor: pointer;
        }

        .tags:hover:before {
          content: "x ";
          color: red;
        }
      }

      #submission {

        .submit-button {
          margin-top: 8px;
          width: 150px;
          padding: 10px 20px 10px 20px;
          border: 2px solid white;
          background-color: #275AD7;
          font-family: 'Cubano';
          color: white;
        }

        .submit-button:hover {
          color: #275AD7;
          border: 2px solid #275AD7;
          background-color: white;
        }
      }
    }
  }

}
