.Card {
    text-align: center;
    display: flex;
    justify-content: center;

    img {
      width:180px;
      height:180px;
    }

    input[type=file] {
      padding:10px;
      background:grey;
    }

}
