.settings {

	h4 {
		float:left;
		padding: 20px;
	}

	#image {
			position: relative;
			margin-top: 5%;
			margin-left: 2%;
			height: 200px;
			width: 200px;
			background-color: #DEDEDE;
	}

/*

	input[type=file] {
		position: relative;
		text-align: left;
	//	float: left;
		padding: 10px;
	}



	input[type=textarea] {
		float: left;
		padding: 10px;
	}

	#location {
		float: left;
	}

	*/

}


.Profile {
	text-align: center;
	margin: 0 auto;

	.profile-content {
	  margin: 0 auto;
		height: 100%;
		min-width: 1000px;
	}

  .userInfo {
		margin-top: 60px;
    float: left;
    width: 20%;
    padding: 5%;

    .profile-pic, .username, .location, .description {
			padding: 6px;
			float: left;
      text-align: left;
      width: 200px;
    }

  }

  .activity {
		margin-top: 60px;
		height: 100%;
    width: 75%;
    float: right;
    padding: 5% 5% 5% 2%;
  }

	.tab {
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	.tabs {
		flex: 1;
	}
}
