.proflist {
		align-items: flex-start;
	//    align-items: center;
//      justify-content: center;
}

.Profile {
	@media only screen and (max-width: 768px) {
	    /* For mobile phones: */
	    .profile-content {
	        width: 100%;
	    }
	}

	.profile-content {
	  	margin: 0 auto;
		height: 100%;
		margin-top: 2%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		.userInfo {
			position: relative;
	  		text-align: center;
	  	}

		.activity {
			text-align: center;
			height: 100%;
		}

		.fb-link {
			padding-top: 5%;
			height: 5%;
		}
	}

	.tab {
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	.tabs {
		flex: 1;
	}

	#settings {
		text-align: left;
		margin: 0 auto;

		h3 {
			margin-bottom: 20px;
		}

		canvas {
			background-color: #DEDEDE;
		}

		#input-settings {
			width: 100%;
			margin: 0 auto;

			.input-box {
				margin: 0 auto;
				width: 100%;
				float: left;
			}
		}

		#description-input {
			resize: none;
			height: 200px;
		}

	}

}
