.proflist {
  align-items: flex-start; }

@media only screen and (max-width: 768px) {
  .Profile {
    /* For mobile phones: */ }
    .Profile .profile-content {
      width: 100%; } }

.Profile .profile-content {
  margin: 0 auto;
  height: 100%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .Profile .profile-content .userInfo {
    position: relative;
    text-align: center; }
  .Profile .profile-content .activity {
    text-align: center;
    height: 100%; }
  .Profile .profile-content .fb-link {
    padding-top: 5%;
    height: 5%; }

.Profile .tab {
  display: flex;
  flex-direction: column;
  overflow: auto; }

.Profile .tabs {
  flex: 1; }

.Profile #settings {
  text-align: left;
  margin: 0 auto; }
  .Profile #settings h3 {
    margin-bottom: 20px; }
  .Profile #settings canvas {
    background-color: #DEDEDE; }
  .Profile #settings #input-settings {
    width: 100%;
    margin: 0 auto; }
    .Profile #settings #input-settings .input-box {
      margin: 0 auto;
      width: 100%;
      float: left; }
  .Profile #settings #description-input {
    resize: none;
    height: 200px; }
