.MiniNav {
  font-size: 1em;
  height: 70px;
  width: 100%;
  z-index: 10;
  background-color: #275AD7; }
  .MiniNav h1 {
    font-family: 'Cubano';
    color: white;
    text-align: left;
    float: left;
    padding: 15px 10px 10px 20px;
    display: inline;
    z-index: 9999; }
    .MiniNav h1 a, .MiniNav h1 a:hover {
      color: white; }
  .MiniNav h1:hover {
    color: #EDF5FF; }
  .MiniNav ul {
    margin: 1.8em 1em 1em 1em;
    float: right;
    list-style-type: none;
    margin-right: 1em;
    text-align: right; }
    .MiniNav ul li {
      display: inline;
      padding-right: 1.5em; }
      .MiniNav ul li a {
        color: white; }
      .MiniNav ul li a:hover {
        color: white;
        text-decoration: underline; }
