.MiniCard {
	width: 256px;
	margin: 30px;

	.mini-card {
		display: inline-block;
		text-align: center;
	  flex-basis: 0;
		height: 256px;
		width: 256px;
	}

	.mini-card:hover {
		opacity: 0.8;
	}

	img {
	//	border: 5px solid red;
		height: 256px;
		width: 256px;
		background-color: #275AD7;
	}

	#info {
		background-color: green;
	}
}
