.CardDetail {

  text-align: center;

  #card {
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    #header {
      width: 100%;
      background-color: #787878;
      color: white;
      padding: 14px 10px 10px 15px;

      #title {
        float: left;
      }

      #author {
        float: right;

        a {
          color: white;
          font-weight: bold;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    #info {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #ECECEC;

      #left {

        #card-pic {
          width: 100%;
        }
      }

      #right {
        position: relative;
        margin: 0 auto;
        
        #desc {
          text-align: left;
          padding-bottom: 20px;
        }

        #loc-date {
          width: 100%;

          #location {
            float: left;
            text-align: left;
          }

          #deadline {
            float: right;
            text-align: right;
          }
        }

        
      }

      #tags-box {
        margin: 15px;

        .detail-tags {
            display: inline;
            font-weight: bold;
            color: white;
            font-size: 12.5px;
            background-color: #275AD7;
            border: 2px solid #ECECEC;
            border-radius: 8px;
            margin-right: 9px;
            padding: 6px 8px 6px 8px;
        }

        .detail-tags:hover {
            background-color: #ECECEC;
            border: 2px solid #275AD7;
            color: #275AD7;
        }
      }
    }
  }

  .offer {
    position: relative;
    width: 100%;
    margin-top: 10px;

    p {
      padding: 8px;
    }

    .button {
      padding: 15px 30px;
      border-radius: 8px;
      width: 230px;
      text-align: center;
      margin: 0 auto;
      color: white;
      border: 2px solid white;
      background-color: #275AD7;
    }

    .button:hover {
      background-color: white;
      color: #275AD7;
      border: 2px solid #275AD7;
    }

  }
}
