.CardCreate .card {
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .CardCreate .card input, .CardCreate .card label {
    display: block; }
  .CardCreate .card input {
    border: 1.5px solid #ECECEC;
    border-radius: 8px;
    padding: 10px; }
  .CardCreate .card label {
    font-size: 0.9rem;
    font-weight: bold; }
  .CardCreate .card #title {
    float: left;
    border: none;
    padding: 20px;
    width: 100%;
    background-color: #ECECEC; }
  .CardCreate .card #top-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .CardCreate .card #top-row #image-area {
      margin: 0 auto;
      min-width: 256px; }
      .CardCreate .card #top-row #image-area canvas {
        width: 256px;
        height: 256px;
        background-color: #DEDEDE; }
    .CardCreate .card #top-row #desc-area {
      flex-grow: 1;
      position: relative;
      padding: 15px 15px 0 15px; }
      .CardCreate .card #top-row #desc-area textarea {
        position: relative;
        width: 100%;
        height: 256px;
        resize: none;
        border: none; }
      .CardCreate .card #top-row #desc-area #description {
        border: 1.5px solid #ECECEC;
        line-height: 1.5em;
        border-radius: 8px; }
  .CardCreate .card #bottom-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px; }
    .CardCreate .card #bottom-row #label-area {
      font-size: 0.9rem;
      display: inline-block; }
      .CardCreate .card #bottom-row #label-area #deadline {
        margin-top: 12px; }
      .CardCreate .card #bottom-row #label-area #deadline-input::-webkit-inner-spin-button {
        display: none; }
    .CardCreate .card #bottom-row #tag-area {
      flex: 0 0 40%; }
      .CardCreate .card #bottom-row #tag-area #tag-input {
        width: 100%; }
      .CardCreate .card #bottom-row #tag-area #tag-box {
        width: 100%;
        margin-top: 8px;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row; }
      .CardCreate .card #bottom-row #tag-area .tags {
        display: inline;
        font-weight: bold;
        color: white;
        font-size: 12.5px;
        background-color: #275AD7;
        border: 2px solid white;
        border-radius: 8px;
        padding: 6px 8px 6px 8px; }
      .CardCreate .card #bottom-row #tag-area .tags:hover {
        background-color: white;
        opacity: 0.5;
        border: 2px solid #275AD7;
        color: #275AD7;
        cursor: pointer; }
      .CardCreate .card #bottom-row #tag-area .tags:hover:before {
        content: "x ";
        color: red; }
    .CardCreate .card #bottom-row #submission .submit-button {
      margin-top: 8px;
      width: 150px;
      padding: 10px 20px 10px 20px;
      border: 2px solid white;
      background-color: #275AD7;
      font-family: 'Cubano';
      color: white; }
    .CardCreate .card #bottom-row #submission .submit-button:hover {
      color: #275AD7;
      border: 2px solid #275AD7;
      background-color: white; }
