.OfferList {

  padding: 0 40px 80px 40px;
  width:100%;

  .bar {
    padding: 28px 20px 27px 20px;
  }


  .flexcontainer {
    display: flex;
    margin: 0 auto;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }

  #search {
    width: 40%;
    padding: 7px;
    border-style:none;
    box-shadow: 2px 3px #ECECEC;
  }

  .trending {
    display: inline;
    padding: 7px;
    text-decoration: underline;
    font-size: 13px;
  }

  .tags {
    display: inline;
    font-weight: bold;
    color: white;
    font-size: 12.5px;
    background-color: #275AD7;
    border: 2px solid white;
    border-radius: 8px;
    margin-left: 9px;
    margin-right: 9px;
    padding: 6px 8px 6px 8px;
  }

  .tags:hover {
    background-color: white;
    border: 2px solid #275AD7;
    color: #275AD7;
    cursor: pointer;
  }

  @media (min-width:320px)  {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  }

  @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
  @media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
  @media (min-width:1281px) { /* hi-res laptops and desktops */ }

}
