.CardDetail {
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .CardDetail {
      /* For mobile phones: */ }
      .CardDetail #card-pic {
        min-width: 100vw;
        min-height: 100vw; } }
  .CardDetail #card {
    position: relative;
    margin: 0 auto;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .CardDetail #card #header {
      width: 100%;
      margin-bottom: -30px;
      background-color: #787878;
      color: white;
      padding: 14px 10px 10px 15px; }
      .CardDetail #card #header #title {
        float: left; }
      .CardDetail #card #header #author {
        float: right; }
        .CardDetail #card #header #author a {
          color: white;
          font-weight: bold; }
        .CardDetail #card #header #author a:hover {
          text-decoration: underline; }
    .CardDetail #card #info {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #ECECEC; }
      .CardDetail #card #info #left #card-pic {
        width: 15vw;
        height: 15vw; }
      .CardDetail #card #info #right {
        padding-top: 5%;
        padding-left: 50px;
        position: relative;
        margin: 0 auto; }
        .CardDetail #card #info #right #desc {
          text-align: left;
          padding-bottom: 20px; }
        .CardDetail #card #info #right #loc-date {
          width: 100%; }
          .CardDetail #card #info #right #loc-date #location {
            float: left;
            text-align: left; }
          .CardDetail #card #info #right #loc-date #deadline {
            float: right;
            text-align: right; }
      .CardDetail #card #info #tags-box {
        margin: 15px; }
        .CardDetail #card #info #tags-box .detail-tags {
          display: inline;
          font-weight: bold;
          color: white;
          font-size: 12.5px;
          background-color: #275AD7;
          border: 2px solid #ECECEC;
          border-radius: 8px;
          margin-right: 9px;
          padding: 6px 8px 6px 8px; }
        .CardDetail #card #info #tags-box .detail-tags:hover {
          background-color: #ECECEC;
          border: 2px solid #275AD7;
          color: #275AD7; }
  .CardDetail .offer {
    position: relative;
    width: 100%;
    margin-top: 18px; }
    .CardDetail .offer p {
      padding: 8px; }
    .CardDetail .offer .button {
      padding: 15px 30px;
      border-radius: 8px;
      width: 230px;
      text-align: center;
      margin: 0 auto;
      color: white;
      border: 2px solid white;
      background-color: #275AD7; }
    .CardDetail .offer .button:hover {
      background-color: white;
      color: #275AD7;
      border: 2px solid #275AD7; }
