.PendingOfferList {

  width:100%;
//  margin-top: 540px;
  z-index: -200;

  .pendingflexcontainer {
    display: flex;
    margin: 0 auto;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    //align-items: flex-start;
    width: 1000px;
  }

  .cancel, .confirm {
        padding: 15px 30px;
        border-radius: 8px;
        width: 230px;
        text-align: center;
        margin: 0 auto;
        color: white;
        border: 2px solid white;
        background-color: #275AD7;
      }

      .cancel:hover, .confirm:hover {
        background-color: white;
        color: #275AD7;
        border: 2px solid #275AD7;
      }
}
