@font-face {
    font-family: Cubano;
    src: url('assets/Cubano/cubano-regular-webfont.ttf'),
    url('assets/Cubano/cubano-regular-webfont.eot');
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 12pt;
}